<h1>Welcome to the Books  Listing Page </h1>

<table border = "1">
<tr>
<th>Id</th>
<th>Name</th>
<th>Publisher</th>
<th>Author_ID</th>
<th>Genre_ID</th>
<th>Image</th>


</tr>

<tr>
<% @books.each do |book|%>
<td> <%= book.id %></td>

<td> <%= book.name %> </td>
<td> <%= book.publisher %></td>
<td> <%= book.author_id %></td>
<td> <%= book.genre_id %></td>
<td> <%= image_tag(book.image) if book.image.attached? %></td>

</tr>
<%end %>
</table>